@import './typography.css';
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-yellow: #FFD631;
  --color-yellow-opacity-50: rgb(255 214 49 / 50%);
  --color-yellow-opacity-15: rgb(255 214 49 / 15%);

  --color-primary-blue: #81AFF0;

  --color-orange: #FFB700;
  --color-orange-opacity-50: rgb(255 183 0 / 50%);

  --color-white: #E9E3E3;
  --color-gray-light: #D6D6D6;
  --color-gray-light-70: rgb(255 255 255 / 70%);
  --color-gray-light-opacity-30: rgb(214 214 214 / 30%);
  --color-gray-light-opacity-15: rgb(214 214 214 / 15%);

  --color-black: #0D0B16;
  --color-gray-dark: #18171C;
  --color-gray-mid: #2D2D33;
  --color-dim-gray: #666666;
  --color-gray-300: #A8A8A8;

  --color-red-elements: #C93333;

  --font-primary: "Urbanist", sans-serif;
  --font-secondary: "Inter", sans-serif;
  --font-sans: "Outfit", sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
  }

  .dark {
    --background: 252 28% 7%;
    --foreground: 0 0% 91%;
  }

  html,
  body,
  #root {
    @apply min-h-screen antialiased font-sans transition-colors duration-300;
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }

  h1 {
    font-size: 2.5rem;
    font-weight: 600;
  }
}

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .scrollbar-thin::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    @apply rounded-full bg-zinc-200 dark:bg-zinc-800;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    @apply bg-zinc-300 dark:bg-zinc-700;
  }
}