@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-yellow: #ffd631;
  --color-black: #0d0b16;
  --color-gray-dark: #18171c;
  --color-gray-mid: #2d2d33;
  --color-white: #e9e3e3;

  --font-outfit: "Outfit", sans-serif;
  --font-urbanist: "Urbanist", sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
  }

  .dark {
    --background: 252 28% 7%;
    --foreground: 0 0% 91%;
  }

  html,
  body,
  #root {
    @apply min-h-screen antialiased font-sans transition-colors duration-300;
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }

  h1 {
    font-size: 2.5rem;
    font-weight: 600;
  }
}

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .scrollbar-thin::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    @apply rounded-full bg-zinc-200 dark:bg-zinc-800;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    @apply bg-zinc-300 dark:bg-zinc-700;
  }
}
